version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: booking-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    container_name: booking-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGO_URI: mongodb://admin:password@mongo:27017/
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    container_name: booking-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo_data:
